<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="course content">
    <h2>Your Courses</h2>

    <% if (courses.length > 0) { %>
      <% courses.forEach(course => { %>

        <h3 class="title"><%= course.name %></h3>
        <p class="snippet"><%= course.desc %></p>

      <% }) %>
    <% } else { %>
      <p>There are no courses to display...</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>